.header {
  height: 3rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
}

.header a {
  color: #e5e5e5;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #00875f;
}
