body {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 500;
}

.container {
  overflow: hidden;
  max-width: 1280px;
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.flex > * {
  flex: 1;
  min-width: 300px;
}
